.header{
    background-color: rgb(32, 42, 43, 1);
    text-align: center;    
    width: 100%;
    overflow: hidden; 
}
.titel-logo{
    color: #b9eeda !important;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    font-size: 27px;
    
   
}


.showNavBar{
    right:0px !important;
}

#menuBtn{
    display: none;
}



ul li{
    list-style: none;
    margin: 20px 7px;
}
ul li a{
    text-decoration: none;
    color: #b9eeda ;
    font-size: 18px;
}
ul li a:hover{
    text-decoration: none;
    color: #2fa072 ;
}
a:last-child{

    margin-left: none;
}
a:first-child{
    
    margin-left: none;
}

@media (max-width: 767.98px) { 
    .navber{
        display: end;
        padding-top:  6rem !important;
        
    }
    #sideNav{
        width: 250px;
        height:100vh;
        right:-250px;
        top:0px;
        position: fixed;
        z-index:2;
        background-color: rgb(32, 42, 43, 1);
        transition: .5s;
    }
    #menuBtn{
        color: #b9eeda;
        font-size: 32px;
        position: fixed;
        z-index:3;
        width: 50px;
        right: 65px;
        top: 14px;
        cursor: pointer;
        display: block;
    }
    
 }
 @media (min-width: 767.98px) { 
    .navber{
        display: flex;
        flex-wrap: wrap;
    }
    #sideNav{
        width: 100%;
        height:4rem;   
        /* background: #495b63; */
    }
 }